<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Form</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <div ng-app="mainApp" ng-controller="StudentForm">
        <h1>Registration Form</h1><br><br>

        First Name:<input type="text" ng-model="Student.firstname" class="name"><br><br>
        Last Name:<input type="text" ng-model="Student.lastname" class="name"><br><br>
        Username:<input type="text" ng-model="Student.username" class="name"><br><br>
        Password:<input type="password" ng-model="Student.password" class="name"><br><br><br>
        <br>
        <br>
        Display: {{Student.firstname}} {{Student.lastname}} {{Student.username}}
    </div>

    <script>
        var myApp = angular.module('mainApp', []);
        myApp.controller('StudentForm', function($scope) {
            $scope.Student = {
                firstname :"",
                lastname : "",
                Username : "",
                password : ""
            }
        });
    </script>

</body>
</html>